.footerContainer {
  padding: 2rem 8rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content1 img {
  width: 6rem;
}

.content1 p {
  font-size: 0.6rem;
  color: gray;
}

.content2 > :nth-child(1) {
  font-size: 2rem;
  color: #0c3256;
}

.content2 > :nth-child(2) {
  font-size: 0.6rem;
  color: gray;
}

.content2 > :nth-child(3) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
}

@media (max-width: 52em) {
  .content {
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footerContainer {
    padding: 2rem;
  }
}
/* 
@media (max-width: 34em) {
  .content1 > :nth-child(2) {
    font-size: 0.7rem;
  }

  .content2 > :nth-child(1) {
    font-size: 2rem;
  }

  .content2 > :nth-child(3) {
    font-size: 0.62rem;
  }
} */

@media (max-width: 26em) {
  .content1 > :nth-child(2) {
    font-size: 1rem;
  }

  .content2 > :nth-child(1) {
    font-size: 2rem;
  }

  .content2 > :nth-child(2) {
    font-size: 0.8rem;
  }

  .content2 > :nth-child(3) {
    font-size: 0.9rem;
  }
}

@media (max-width: 18em) {
  .content1 > :nth-child(2) {
    font-size: 0.8rem;
  }

  .content2 > :nth-child(1) {
    font-size: 2rem;
  }

  .content2 > :nth-child(2) {
    font-size: 0.8rem;
  }

  .content2 > :nth-child(3) {
    font-size: 0.62rem;
  }
}
