.startedContainer {
  padding: 2rem 8rem;
  text-align: center;
}

.contents {
  background-color: #1971c2;
  color: white;
  padding: 2rem;
  border-radius: 10px;
}

.contents > div > :nth-child(1) {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.contents > div > :nth-child(2) {
  font-size: 0.6rem;
  margin-bottom: 1em;
}

.contents > div > :nth-child(3) {
  border: 2px solid white;
  font-family: Poppins, sans-serif;
  padding: 0.1rem 0.8rem;
  border-radius: 10px;
  /* box-shadow: inset 0 0 0 3px white; */
  background-color: #4683bc;
  cursor: pointer;
  color: white;
  transition: all 200ms ease-in;
}

.contents > div > :nth-child(3):hover {
  scale: 0.9;
}

@media (max-width: 43em) {
  .startedContainer {
    padding: 3rem 2rem;
  }
}
