@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  transition: all 0.4s ease-in-out;
  overflow-x: hidden;
}

.hero-header_container {
  background-color: #010b13;
  overflow-x: hidden;
}
